*{
    padding: 0px;
    margin: 0px;
 }
 .search{
    margin: 9px 0;
    border-radius: 3px;
 }
 .search-submit{
    background: #66a182;
    border: none;
   
 }
.search-import{
outline: none;
padding: 5px;
border: none;
}
.c{
    text-decoration: none;
}
.boder{
    border-bottom: 1px solid #ccc;
}
.boder-left{
    
    border-left: 1px #e1e1e1 solid;
}
.boder-right{
    border-right: 1px #e1e1e1 solid;
}
.color-logo{
    
color: #66a182;
}
.boder-right-menu{
border-right: solid 1px #464646;

}
.product_size{
    width: 100%; 
    height: 3vw; 
    padding-left: 1vw; 
    border: #ccc 1px solid; 
    margin-top: 2vw;
}